<h1>Tiny URL</h1>

<table class="table table-hover">
  <tr>
    <th>ID</th>
    <th>Long URL</th>
    <th>Short URL</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

<% @shorts.each do |short| %>
  <tr>
    <td><%= short.id %></td>
    <td><%= link_to short.long, short.long %></td>
    <td><%= link_to short.tiny, short.long %></td>
    <td><%= link_to short do%>
    <span class="glyphicon glyphicon-search"></span>
    <%end%>
    </td>
    <td><%= link_to edit_short_path(short) do %>
      <span class="glyphicon glyphicon-pencil"></span>
      <%end%>
      </td>
    <td><%= link_to short, method: :delete, data: { confirm: 'Are you sure?' } do %>
    <span class="glyphicon glyphicon-trash"></span>
    <%end%>
    </td>
  </tr>
<% end %>
</table>

<hr>
<p id="text"><b>you can visit the webpage by clicking on show or https://desolate-anchorage-97837.herokuapp.com/shorts/[id] or https://desolate-anchorage-97837.herokuapp.com/url/[short url]</b></p>
<div class="button">
<button class='btn btn-success'><%= link_to 'New URL', new_short_path, class: 'btnn'%></button>
</div>
